// @use '@angular/material' as mat;

$loginitemwidth: 23.125rem;

@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  @include centerFlex();
  padding: 30px;
}

.login-container mat-card {
  @include centerFlex();
  flex-direction: column;
  width: 25rem;
}

.login-form {
  @include centerFlex();
  flex-direction: column;
  gap: 7px;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}


button {
  padding: 1.5rem 0;
  width: $loginitemwidth;
}

mat-progress-spinner {
    max-width: 2rem;
    max-width: 2rem;
}

/* -------------- Media query -------------- */

@media only screen and (max-width: 599px) {

  .login-container mat-card {
    width: 100%;
  }

  button {
    width: 17.7rem;
  }
}

