// @use '@angular/material' as mat;

$loginitemwidth: 300px;

// .dense-1 {
//   @include mat.all-component-densities(-1);
// }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

mat-form-field {
  width: $loginitemwidth;
}


button {
  width: $loginitemwidth;
}