<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <!-- sidenav list -->
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
        <!-- sidenav list end -->
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Heading - toobar -->
        <header>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        </header>
        <!-- Heading - toobar end-->
        <div class="progress-container">
            <mat-progress-bar color="primary" *ngIf="isloading$ | async" mode="indeterminate">
            </mat-progress-bar>
        </div>
        <main class="main-body">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
