$signupitemwidth: 23.125rem;

@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  @include centerFlex();
  padding: 30px
  // flex-direction: column;
  // gap: 7px;
}

.signup-container mat-card {
  @include centerFlex();
  flex-direction: column;
  width: 25rem;
}

.signup-form {
  @include centerFlex();
  flex-direction: column;
  gap: 7px;
}

mat-form-field {
  width: 100%;
}

button {
  padding: 1.5rem 0;
  width: $signupitemwidth;
}

mat-progress-spinner {
  max-width: 2rem;
  max-width: 2rem;
}

/* -------------- Media query -------------- */

@media only screen and (max-width: 599px) {

  .signup-container mat-card {
    width: 100%;
  }

  button {
    width: 17.7rem;
  }
}


