$whity: #fff;
$hover: lightgrey;

a {
  color: $whity;
  transition: all ease 0.25s;
}

a:hover,
a:active {
  color: $hover;
}

mat-toolbar {
  // background: #ff8b28;
  // background: #d56f00;
  // background: #b7410e;
  background: #f59929;
  // background: #fbbf7f;
  // background: #d86e39;
  // background: #0b022e;
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.navigation-item {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.menu-button {
  display: none;
  visibility: none;
}


/* -------------- Media query -------------- */
@media only screen and (max-width: 599px) {

  .menu-button {
    display: inherit;
    visibility: visible;
  }

}