<mat-toolbar>
  <div class="menu-button">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button [routerLink]="['']">NG Fitness</a>
  </div>
  <span class="toolbar-spacer"></span>
  <div class="h-xs">
    <ul class="navigation-item">
      <li *ngIf="!(isAuth$ | async)">
        <a mat-button [routerLink]="['signup']">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a mat-button [routerLink]="['login']">Login</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a mat-button [routerLink]="['training']">Training</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a mat-button (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
